@mixin font-type($fontSize, $lineHeight, $fontWeight) {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: #2c3e50;
  font-weight: $fontWeight;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#nav {
  padding: 30px;
  display: flex;
  justify-content: center;

  a {
    margin-right: 24px;
    width: 100px;
    box-sizing: border-box;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @include font-type(18px, 24px, normal);
    border: 1px solid #2c3e50;
    border-radius: 8px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.01);
      opacity: 0.8;
    }

    &:last-child {
      margin-right: 0px;
    }

    &.router-link-exact-active {
      color: #42b983;
      border: 1px solid #42b983;
    }
  }
}